body {
    font-family: Microsoft JhengHei;
}

h3 {
    font-family: Microsoft JhengHei;
}

h1 {
    font-family: Microsoft JhengHei;
}

h2 {
    font-family: Microsoft JhengHei;
}

.text-center {
    text-align: center;
}

.table-right {
    text-align: right;
}

.table-center {
    padding-left: 37%;
}
.btn_bottom{
padding-bottom:10px;
}
